<!-- -*- mode: XML -*- -->
<launch>

  <!-- VESC IMU Message parser node -->  
  <node pkg="vesc_imu_msg_parser" type="vesc_imu_msg_parser_node" name="vesc_imu_parser_node" output = "screen">
  
    <!--This topic is what the package will subscribe to to get the IMU data from the vesc-->
    <!-- <remap from="/sensors/imu" to="imu/data/raw"/> -->  

    <!--These topics will publish the parsed data from the above topic and publish them to sensor_msgs::Imu and sensor_msgs::Mag data -->
    <!-- The Madgwick filter uses these specific topics!!!!! DO NOT Change them unless absolutely necessary -->
    <!-- <remap from="imu/data" to="/imu/data/imu"/> -->
    <!-- <remap from="imu/mag" to="/imu/data/raw"/> -->

  </node>
  
  <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />
    
  <!-- Madgwick IMU Filter nodes -->
  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">
    <!-- <param name="fixed_frame" value="odom"/> -->
    <param name="world_frame" value="ned"/>
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="true"/>
    <param name="reverse_tf" value="false"/>
    <!-- <param name="remove_gravity_vector" value="false"/> -->
    <!-- <param name="publish_debug_topics" value="true"/> -->

  </node>

</launch>